/*@import "/vendor/picocss/pico/css/pico.min.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;
.-z-1 {
    z-index: -1;
}

.origin-0 {
    transform-origin: 0%;
}

.register input:focus ~ label,
.register input:not(:placeholder-shown) ~ label,
.register textarea:focus ~ label,
.register textarea:not(:placeholder-shown) ~ label,
.register select:focus ~ label,
.register select:not([value='']):valid ~ label {
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.5rem;
}

.register input:focus ~ label,
.register select:focus ~ label {
    /* @apply text-black; left-0; */
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    left: 0;
}

@layer components {
    .register-inputs {
        @apply pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200;
    }
}